<ion-view title="CARRITO(0)" class="cart-empty-page" >
	
  	<ion-content class="has-header">
    	<div class="cart-empty-container">
    		<div class="image"></div><!-- REPLACE FOR THE IMAGE -->
    		<a class="button button-balanced" href="#/app/products">Seguir comprando</a>
    		<h3>Parece que no tienes nada en tu carrito</h3>
    		<p class="subt">Subtotal</p>
    		<p>0 item <span>= 0.00</span></p>
    		<a class="button button-balanced" href="#/app/products">Pagar Ahora</a>
		</div>
  	</ion-content>
</ion-view>