<ion-view title="Carrito" class="cart-page">
    <ion-nav-bar class="red bar-stable" animation="slide-left-right">
    <ion-nav-back-button class="button-clear">
        <div class="arrow"> Atrás </div> 
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="has-header">
        <div class="cart-container" ng-switch="cart.orders.length">
            <div ng-switch-when="0">
                <div class="photo-cover no-cart-items"></div>
                <a class="button button-balanced" href="#/app/products">SEGUIR COMPRANDO</a>

                <h3 class="no-cart-items-title">PARECE QUE NO TIENES NADA EN TU CARRITO</h3>
            </div>
            <div ng-switch-default="" class="container-orders">

                <div ng-repeat="order in cart.orders" ng-animate="'animate'" class="animate-repeat orders" style="background:url({{order.product.images}}) no-repeat top left/100% 100%;">
                    <div class="quantity-container">
                        <button class="minus"
                                        ng-disabled="order.getQuantity()==1"
                                        ng-click="minus(order)">-</button>
                                &times;{{order.getQuantity()}}
                                <button class="add"
                                        ng-click="">+</button></div>

                    <span ng-click="removeOrder(order)" class="delete">-</span>
                    <div class="left-column">
                        <span class="product-line">{{order.productLine.name}}</span>
                        <span class="items" >{{order.getQuantity()}} items</span>
                    </div>

                    <div class="right-column">
                        <span>= {{order.computeSubTotal() | noFractionCurrency}}</span>
                    </div>
                    
                </div>

                <span class="input-label">Cupón de Descuento</span>
                <label class="item item-input">
                <input type="text" ng-model="">
                <span ng-class="" class="img valid"></span>
                </label>
                <label class="item validate">
                <button ng-click="" class="button button-block button-positive" type="submit">Validar Descuento</button>
                </label>
            </div>
            
        </div>
    </ion-content>
    <ion-footer-bar>
        <p class="subtotal">Subtotal<span>={{cart.computeSubTotal() | noFractionCurrency}}</span></p>
        <a class="button button-balanced" href="#/app/cart-checkout" ng-class="{'disabled':cart.orders.length===0}">Pagar
            Ahora</a>
    </ion-footer-bar>
</ion-view>