<ion-view title="CARRITO" class="cart-checkout-page" >
	<ion-nav-bar class="red bar-stable" animation="slide-left-right">  
      <ion-nav-back-button class="button-clear">
        <div class="arrow"> ATRAS </div>
      </ion-nav-back-button>
    </ion-nav-bar>
  	<ion-content class="has-header">
    	<div class="cart-checkout-container">
    		<ul>
    			<li>Se le solicitará una firma a la hora de la entrega.</li>
    			<li>Utilizar dirección que se encuentra en horas laborales.</li>
    		</ul>
    		<a class="info" href="#">ver información completa de envío</a>
			
			<div class="list list-inset">
				
			    <div class="maininfo">
			    	<label class="item item-input name">
					<input class="" type="text" name="name" placeholder="NOMBRE">
					</label>
					<label class="item item-input lastname">
						<input class="" type="text" name="lastname" placeholder="APELLIDO">
					</label>
			    </div>
				<label class="item item-input no-mg-bottom">
					<input name="email" type="email" placeholder="CORREO">
				</label>
				<span class="advise">(Para enviarte la factura)</span>
				<label class="item item-input no-mg-bottom">
					<input name="tel" type="text" placeholder="TELÉFONO">
				</label>
				<span class="advise">(Para llamarte por si algo sucedió durante la entrega)</span>

				<h3>Te enviamos tus fotos a: </h3>
				<label class="item btn sucursales">
			      <button ng-click="changeSucursal(true);" class="button button-block button-positive" type="submit">Sucursales (gratis)</button>
			    </label>
			    <label class="item btn casa">
				      <button ng-click="changeSucursal(false);" class="button button-block" type="submit">Casa</button>
				    </label>
			    <div ng-show="!sucursal">

					<label class="item item-input">
						<textarea name="comment" ng-model="address" rows="7" cols="5" placeholder="DIRECCIÓN">
						</textarea>
					</label>
					<select>
				      <option selected>San José</option>
				      <option>Heredia</option>
				      <option>Cartago</option>
				    </select>
				    <span class="advise">(Ej: San José)</span>
				    <select>
				      <option selected>Tibás</option>
				      <option>Guadalupe</option>
				    </select>
				    <span class="advise">(Ej. Tibás)</span>
				    <select>
				      <option selected>Llorente</option>
				      <option>Otro</option>
				    </select>
				    <span class="advise">(Ej. Llorente)</span>
				    <label class="item input-checkbox">
						<input type="checkbox">
						<span>Recordar para la próxima compra</span>
					</label>
			    </div>
			    
				<a ng-click="calculatePrice()" class="button button-balanced" >Pagar</a>
			</div>
    		
		</div>
  	</ion-content>
</ion-view>