<ion-view title="CATEGORIAS" class="products-page">
	<ion-nav-bar class="grey bar-stable" animation="slide-left-right">  
	  <ion-nav-back-button class="button-clear">
	    <div class="arrow"> ATRAS </div> 
	  </ion-nav-back-button>
	</ion-nav-bar>
    <ion-content class="has-header">
        <div class="category-container">
    		<div ng-repeat="product in productLine.products" class="photo">
                <div><a class="button button-balanced" ng-click="saveProduct(product)">{{product.name}}</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>