<ion-view title="REVISAR" class="check-page">
    <ion-nav-buttons side="right">
        <a ng-click="addToCart()" class="button button-icon icon ion-checkmark"></a>
    </ion-nav-buttons>


    <ion-content class="has-header">
        <div class="check-container">
            <h1>Revisar y Cortar</h1>

            <p>Tocar cualquier foto para ajusar.</p>

            <div class="singeImage" ng-repeat="image in images track by $index" ng-init="sResolution = image.images.standard_resolution">
                <a ng-href="#/app/edit/{{$index}}"><img ng-src="{{sResolution.url}}" style="max-width: 100%;height: auto;"></a>

                <div class="quantity-container" ng-init="quantity = image.quantity">
                    <button ng-disabled="image.quantity==1" ng-click="image.quantity=image.quantity-1" class="minus">-</button>
                    &times;{{image.quantity}}
                    <button class="add" ng-click="image.quantity=image.quantity+1">+</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>