<ion-view title="SELECCIONAR" class="photo-pick-page" >
	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-forward" href="#/app/check"></a>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<div class="photo-pick-container">
			<a class="button-picker" ng-click="instagramImageLoad()">Instagram</a>
			<a class="button-picker" ng-click="phoneImageLoad()">Albums</a>
		</div>
		<div class="photos">
			<div class="images-container">
				<div class="image" ng-repeat="image in imageStack track by $index" ng-init="thumbnail = image.images.thumbnail" ng-click="addImg($index)">
					<div class="image-inner" ng-class="{'positive-bg': image.toPrint}">
						<a href="javascript:void(0);" ng-click="image.toPrint = !image.toPrint">
							<img ng-src="{{thumbnail.url}}" width="{{thumbnail.width}}" height="{{thumbnail.height}}" alt="Photo">
						</a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>