<ion-view title="CONFIRMAR ORDEN" class="confirm-order-page" >
	<ion-nav-bar class="red bar-stable" animation="slide-left-right">  
      <ion-nav-back-button class="button-clear">
        <div class="arrow"> ATRAS </div>
      </ion-nav-back-button>
    </ion-nav-bar>
  	<ion-content class="has-header">
    	<div class="confirm-order-container">
			<div class="order">
				<div>
					<span class="sendto">ENVIAR A:</span>
					<p> 
						<span>{{cart.customer.firstName}} {{cart.customer.secondSurname}}</span>
						<span>{{cart.customer.address.exacta}}</span>
						<span>{{cart.customer.address.district}}, {{cart.customer.address.canton}}, {{cart.customer.address.province}}, Costa Rica.</span> 
					</p>
				</div>
				<div>
					<span class="contact">CONTACTO:</span>
					<p>
						<span>{{cart.customer.email}}</span>
						<span>{{cart.customer.phone}}</span>
						<!--a class="edit" href="#">Editar</a-->
					</p>
				</div>
			</div>
			<label class="item input-checkbox">
				<input type="checkbox">
				<span>Confirmo que los datos de envío son correctos</span>
			</label>
		</div>
  	</ion-content>
  	<ion-footer-bar>
  		<div class="product-to-pay">
  			<h3 class="photos">{{cart.getTotalQuantity()}} Fotos</h3>
			<h4 class="total">&#8353; {{cart.computeSubTotal()}}</h4>
  		</div>
	    
	    <div class="product-to-pay">
	    	<h3 class="photos">Transporte</h3>
			<h4 class="total">&#8353; {{cart.travel.price}}</h4>
	    </div>

	    <div class="product-to-pay" ng-if="cart.coupon.price != 0">
	    	<h3 class="photos">Descuento</h3>
			<h4 class="total">&#8353; {{cart.coupon.price}}</h4>
	    </div>

	    <h4 class="total total-full">Total = &#8353;{{cart.getTotal() - cart.coupon.price}}</h4>
		
		<a class="button button-positive" ng-click="pay()">Realizar pedido</a>
	</ion-footer-bar>
</ion-view>