<ion-view title="CONFIRMAR ORDEN" class="confirm-order-page" >
	
  	<ion-content class="has-header">
    	<div class="confirm-order-container">
			<div class="order">
				<div>
					<span class="sendto">ENVIAR A:</span>
					<p> 
						<span>Pedro Abreu</span>
						<span>400 mts Sur del Cruce Escazú, Santa Ana.</span>
						<span>Escazú, San José, Costa Rica.</span> 
					</p>
				</div>
				<div>
					<span class="contact">CONTACTO:</span>
					<p>
						<span>pabreu21@gmail.com</span>
						<span>2228-9898</span>
						<a class="edit" href="#">Editar</a>
					</p>
				</div>
			</div>
			<label class="item input-checkbox">
				<input type="checkbox">
				<span>Confirmo que los datos de envío son correctos</span>
			</label>
			<h3 class="photos">054 FOTOS</h3>
			<h4 class="total">TOTAL = 9,000</h4>
			<a class="button button-balanced" href="#">Realizar Pedido</a>
		</div>
  	</ion-content>
</ion-view>