<ion-view title="CORTAR" class="photo-edit-page crop-page">
    <ion-nav-bar class="grey bar-stable" animation="slide-left-right">
        <ion-nav-back-button class="button-clear">
            <div class="arrow"> Atrás</div>
        </ion-nav-back-button>
        <h1 class="title">CORTAR</h1>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon check-button check-photo" ng-click="done()">Aceptar</a>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content scroll="false" class="has-header">
        <div class="photo-edit-wrapper">
            <!-- <div class="photo-edit-header">
                <h4>Selecciona el area a cortar</h4>
            </div> -->
            <div class="photo-edit-body">
                <div class="canvas" ng-style="style">
                </div>
            </div>
            <div class="photo-edit-controls">
            </div>
        </div>
    </ion-content>
</ion-view>