<ion-view title="HACELO DIGITAL" class="info-page" >
	<ion-nav-bar class="info bar-stable" animation="slide-left-right">  
      <a class="exit" href="#/app/landing">X</a>
    </ion-nav-bar>
  	<ion-content class="has-header">
    	<div class="info-container">
			<ion-list>
				<ion-item ng-model="info" class="item-stable" ng-click="toggleGroup('info')" ng-class="{active: isGroupShown('info')}">
					Info
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('info')">
					<p>Desde tu celular ahora podés imprimir todas tus fotografías con gran simplicidad con la nueva aplicación movil de Hacelo Digital. Todos nuestros productos son de la mejor calidad al ser impresos en papel fotográfico matte que es duradero y resistente. Además te ofrecemos otra facilidad ya que podemos enviarte cualquiera de nuestros productos a la puerta de tu casa y en muchos casos sin costo adicional.</p>
					<p class="center">¿Qué estás esperando?</p>
					<p>¡Ordená ya para que tus recuerdos perduren para toda la vida!</p>
				</div>
				<ion-item ng-model="faq" class="item-stable" ng-click="toggleGroup('faq')" ng-class="{active: isGroupShown('faq')}">
				Preguntas frecuentes
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('faq')">
					<p class="question center">¿Cómo se si se realizó mi orden?</p>
					<p class="answer">Deberías de recibir un correo electrónico de
					confirmación. No haremos ningún cobro si tu orden no se esta imprimiendo. Si todavía tenés alguna duda escribinos a <a href="mailto:info@hacelodigital.com">info@hacelodigital.com</a></p>
					<p class="question center">¿Que hago si no se terminan de subir (upload) mis fotos?</p>
					<p class="answer">Primero debes de revisar tu conexión a internet. Recomendamos que uses una conexión WIFI para garantizar mayor velocidad durante esta última etapa. También podés intentar cerrar otras aplicaciones que tengas abiertas que pueden estar compitiendo por el ancho de banda.</p>
					<p class="question center">Cancelaciones y reembolsos</p>
					<p class="answer">Para poder entregarte nuestros productos con la velocidad que prometemos, la mayoría de nuestro sistema es completamente automatizado y comienza justo cuando vos confirmas tu orden. Debido a esto solo permitimos cancelaciones una hora después de haber solicitado tu orden y solo de lunes a viernes de 8 a.m. a 6 p.m.  En todas las otras circunstancias no podremos cancelar tu orden.</p>

					<p class="answer">Nosotros confiamos en que nuestros productos son de excelente calidad y que las impresiones son fieles a la imagen que vos nos enviaste. Pero si por alguna razón no estás contento con la calidad de nuestros productos, escribenos y buscaremos una solución.
					<p class="question center">Impresiones de Gran Formato</p>
					Hemos diseñado nuestra aplicación para asegurarnos que todas las impresiones vengan con la mejor resolución. Cualquier foto que te permitamos seleccionar debería de imprimir bien y sin pixelarse, pero obviamente entre más alta la resolución, mejor la calidad. Es importante tomar nota de nuestros mínimos.</p>
					<ul class="list">
						<li>4x4 - 400 x 400 pixeles</li>
						<li>4x6  - 400 x 600 pixeles</li>
						<li>5x5  - 500 x 500 pixeles</li>
						<li>5x7  - 500 x 700 pixeles</li>
						<li>8x8 - 800 x 800 pixeles</li>
						<li>8x10  - 800 x 1000 pixeles</li>
						<li>10x10  - 1000 x 1000 pixeles</li>
						<li>11x17  - 1200 x 1800 pixeles</li>
						<li>14x20  - 1500 x 2100 pixeles</li>
						<li>20x29  - 2100 x 3000 pixeles</li>
					</ul>
				</div>
				<ion-item ng-model="price" class="item-stable" ng-click="toggleGroup('price')" ng-class="{active: isGroupShown('price')}">
				Precio
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('price')">
					<p class="question center">Fotografías</p>
					<p class="answer">
						<ul class="list">
							<li>4x6 ✓ - ¢4.999 IVI</li>
							<li>5x7 ✓ - ¢5.499 IVI</li>
							<li>8x10 ✓ - ¢6.499 IVI</li>
						</ul>
					</p>
					<p class="question center">Cuadradas</p>
					<p class="answer">
						<ul class="list">
							<li>4x4 ✓ - ¢4.999 IVI</li>
							<li>5x5 ✓ - ¢5.499 IVI</li>
							<li>8x8 ✓- ¢5.999 IVI </li>
							<li>10x10 ✓ - ¢6.999 IVI</li>
						</ul>
					</p>
					<p class="question center">Marco de Madera</p>
					<p class="answer">
						<ul class="list">
							<li>4x4 ✓- ¢14.999 IVI</li>
							<li>11x17 ✓ - ¢31.999 IVI </li>
							<li>14x20 ✓ - ¢38.999 IVI </li>
							<li>20x29 ✓ - ¢58.999 IVI</li>
						</ul>
					</p>
					<p class="question center">Photobook</p>
					<p class="answer">
						<ul class="list">
							<li>8.5 x 11 - 38 páginas - ¢17.499 IVI</li>
							<li>12 x 9 - 38 páginas - ¢19.999 IVI </li>
						</ul>
					</p>
					<p class="question center">Photostrips</p>
					<p class="answer">
						<ul class="list">
							<li>4.45 x 17.78 cm - ¢4.999 IVI</li>
						</ul>
					</p>
					<p class="question center">Poster</p>
					<p class="answer">
						<ul class="list">
							<li>20.1 x 29.1 ✓ - ¢12.999 IVI </li>
						</ul>
					</p>
					<p class="question center">Gran Formato</p>
					<p class="answer">
						<ul class="list">
							<li>11x17 ✓ - ¢12.999 IVI</li>
							<li>14x20 ✓ - ¢13.999 IVI</li>
							<li>20.1 x 29.1 ✓ - ¢14.999 IVI</li>
						</ul>
					</p>
				</div>
				<ion-item ng-model="envio" class="item-stable" ng-click="toggleGroup('envio')" ng-class="{active: isGroupShown('envio')}">
				Envio
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('envio')">
					<p class="center question">¡Si, te lo enviamos a tu casa!</p>
					<ul class="list">
						<li>El costo del envío es calculado por peso y destino.</li>
						<li>Todas nuestras ordenes requieren de la firma al ser entregadas.</li>
						<li>Los pedidos toman entre 5-7 días hábiles en ser entregados</li>
						<li>En la dirección de entrega debe haber alguien quien firme recibido el paquete de lunes a viernes de 9 a.m. a 5 p.m.</li>
						<li>No podemos cambiar direcciones o combinar productos una vez que la orden haya sido establecida.</li>
						<li>Recibirás un e-mail automatizado cuando tu orden salga para entrega.</li>
						<li>No hay servicio de entrega en áreas peligrosas del país.</li>
					</ul>
					
					<p class="center question">Sucursal Desamparados</p>
					<p>
						Centro Comercial Desamparados, frente al Colegio Monseñor Rubén Odio. Local Nº 14<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados de 8am a 1pm.<br>
						Teléfono: (506) 2247-5660<br>
						Fax: (506) 2250-4307<br>
					</p>
					<p class="center question">Sucursal Guadalupe</p>
					<p>
						Centro Comercial Novacentro Locales 34 y 35. Guadalupe, del cruce a Moravia, 100 norte<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados de 8am a 1pm.<br>
						Teléfono: (506) 2247-5960<br>
						Fax: (506) 2224-8772<br>
					</p>
					<p class="center question">Sucursal Llorente</p>
					<p>
						400 m este del Cruce Llorente Tibás<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados de 8am a 12md.<br>
						Teléfono: (506) 2247-5760<br>
						Fax: (506) 2247-4442<br>
					</p>
					
					<p class="center question">Sucursal San José</p>
					<p>
						Av. 1a., calles 3 y 5, contiguo al Cine Omni.<br>
						Horario: <br>
						De Lunes a Viernes de 8am a 6pm y Sábados
						de 8am a 1pm.<br>
						Teléfono: (506) 2247-4541<br>
						Fax: (506) 2222-9226
					</p>
					<p class="center question">Sucursal Rohrmoser</p>
					<p>
						Plaza Rohrmoser, segundo piso local #50 De
						la Embajada Americana, 200 al este. <br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados
						de 8am a 1pm.
					</p>
					<p class="center question">Sucursal Alajuela</p>
					<p>
						Alajuela, de la bomba la Tropicana 100 mts al este en centro comercial Plaza Real Alajuela locales # 30-31-32<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados de 8am a 1pm.<br>
						Teléfono: (506) 2247-5990<br>
						Fax: (506) 2442-3303<br>
					</p>
					<p class="center question">Sucursal Cartago</p>
					<p>
						Barrio El Molino, de las oficinas administrativas de la CCSS, 50 metros norte, edificio El Nogal.<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 1:30pm y de 2pm a 5pm y Sábados de 8am a 12pm.<br>
						Teléfono: (506) 2247-5970<br>
						Fax: (506) 2591-1991<br>
					</p>
				</div>
				<ion-item ng-model="share" class="item-stable" ng-click="toggleGroup('share')" ng-class="{active: isGroupShown('share')}">
				Comparte
				</ion-item>
				<div class="item-accordion item social-btns" ng-show="isGroupShown('share')">
					<a href="#" class="share fb"></a>
					<a href="#" class="share twitter"></a>
					<a href="3" class="share email"></a>
				</div>
				<div class="btn-container-short">
					<ion-item ng-model="contacto" class="item-stable btn-short contact-item-info" ng-click="toggleGroup('contacto')" ng-class="{active: isGroupShown('contacto')}">
					Contactenos
					</ion-item>
				</div>
				<div class="item-accordion item" ng-show="isGroupShown('contacto')">
					<label class="item item-input">
						<input class="name" type="text" placeholder="nombre">
					</label>
					<label class="item item-input">
						<input class="lastname" type="text" placeholder="apellido">
					</label>
					<label class="item item-input">
						<input class="email" type="email" placeholder="correo electrónico">
					</label>
					<label class="item item-input">
					    <textarea placeholder="consulta..." rows="8" cols="10"></textarea>
					</label>
					<button class="button button-block">Enviar</button>
				</div>
			</ion-list>
		</div>
  	</ion-content>
</ion-view>
