<ion-view title="Printea" class="info-page" >
	<ion-nav-bar class="info bar-stable" animation="slide-left-right">  
      <a class="exit" href="#/app/landing">X</a>
    </ion-nav-bar>
  	<ion-content class="has-header">
    	<div class="info-container">
			<ion-list>
				<ion-item ng-model="info" class="item-stable" ng-click="toggleGroup('info')" ng-class="{active: isGroupShown('info')}">
					Info
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('info')">
					<p>Con Printea, la nueva aplicación móvil de
						Hacelo Digital, podrás imprimir todas tus
						fotos favoritas de la manera más fácil y en
						los mejores formatos.
					</p>
					<p>Además te ofrecemos la facilidad de enviarte nuestros productos a la puerta de tu casa por un monto adicional.</p>
					<p class="question center">¿Qué estás esperando?</p>
					<p>¡Ordená ya y emocionate de nuevo por tus fotos!</p>
				</div>
				<ion-item ng-model="faq" class="item-stable" ng-click="toggleGroup('faq')" ng-class="{active: isGroupShown('faq')}">
				Preguntas frecuentes
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('faq')">
					<p class="question center">¿Cómo se si se realizó mi orden?</p>
					<p class="answer">Recibirás un correo electrónico de confirmación
					de tu orden. En caso que no lo recibás, no haremos ningún cargo a tu tarjeta. Para más infor podés escribir a <a href="mailto:info@hacelodigital.com">info@hacelodigital.com</a></p>
					<p class="question center">¿Que hago si no se terminan de subir (upload) mis fotos?</p>
					<p class="answer">Revisá tu conexión a internet, (es preferible que sea conexión WIFI para garantizar mayor velocidad). Cerrá otras aplicaciones, ya que pueden estar compitiendo por el ancho de banda.</p>
					<p class="question center">Cancelaciones y reembolsos</p>
					<p class="answer">Para poder entregarte nuestros productos con la velocidad que prometemos, la mayoría de nuestro sistema es completamente automatizado y comienza justo cuando vos confirmas tu orden. Debido a esto solo permitimos cancelaciones una hora.</p>
					<p class="answer">Nosotros confiamos en que nuestros productos son de excelente calidad y que las impresiones son fieles a la imagen que vos nos enviaste. Pero si por alguna razón no estás contento con la calidad de nuestros productos, escribenos y buscaremos una solución.</p>
					<p class="question center">Impresiones de Gran Formato</p>
					<p class="answer">Hemos diseñado nuestra aplicación para asegurarnos que todas las impresiones vengan con la mejor resolución. Cualquier foto que te permitamos seleccionar debería de imprimir bien y sin pixelarse, pero obviamente entre más alta la resolución, mejor la calidad. Es importante tomar nota de nuestros mínimos.</p>
					<ul class="list">
						<li>4x4 - 400 x 400 pixeles</li>
						<li>4x6  - 400 x 600 pixeles</li>
						<li>5x5  - 500 x 500 pixeles</li>
						<li>5x7  - 500 x 700 pixeles</li>
						<li>8x8 - 800 x 800 pixeles</li>
						<li>8x10  - 800 x 1000 pixeles</li>
						<li>10x10  - 1000 x 1000 pixeles</li>
						<li>11x17  - 1200 x 1800 pixeles</li>
						<li>14x20  - 1500 x 2100 pixeles</li>
						<li>20x29  - 2100 x 3000 pixeles</li>
					</ul>
				</div>
				<ion-item ng-model="price" class="item-stable" ng-click="toggleGroup('price')" ng-class="{active: isGroupShown('price')}">
				Precios
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('price')">
					<p class="question center">Fotografías</p>
					
						<ul class="list-price">
							<li>6 X 4 - ¢4.999 I.V.I - Mínimo 21</li>
							<li>7 X 5 - ¢5.499 I.V.I - Mínimo 16</li>
							<li>10 X 8 - ¢6.499 I.V.I - Mínimo 6</li>
						</ul>
					<p class="question center">Cuadradas</p>
						<ul class="list-price">
							<li>4 X 4 - ¢4.999 I.V.I - Mínimo 35</li>
							<li>5 X 5 - ¢5.499 I.V.I - Mínimo 20</li>
							<li>8 X 8 - ¢5.999 I.V.I - Mínimo 6</li>
							<li>10 X 10 - ¢6.999 I.V.I - Mínimo 4</li>
						</ul>
					<p class="question center">Marco de Madera</p>
						<ul class="list-price">
							<li>4 X 4 - ¢14.999 I.V.I</li>
							<li>11 X 17 - ¢31.999 I.V.I</li>
							<li>14 X 20 - ¢38.999 I.V.I</li>
							<li>20 X 29 - ¢58.999 I.V.I</li>
						</ul>
					<p class="question center">Photobook</p>
						<ul class="list-price">
							<li>8.5 X 11 - ¢17.499 I.V.I - 38 Páginas</li>
							<li>9 X 12 - ¢19.999 I.V.I - 38 Páginas</li>
						</ul>
					<p class="question center">Photostrips</p>
						<ul class="list-price">
							<li>4.45 x 17.78 cm - ¢4.999 IVI</li>
						</ul>
					<p class="question center">Poster</p>
					<p class="answer">
						<ul class="list-price">
							<li>20.1 x 29.1 - ¢12.999 IVI </li>
						</ul>
					</p>
					<p class="question center">Gran Formato</p>
					<p class="answer">
						<ul class="list-price">
							<li>11x17 - ¢12.999 IVI</li>
							<li>14x20 - ¢13.999 IVI</li>
							<li>20.1 x 29.1 - ¢14.999 IVI</li>
						</ul>
					</p>
				</div>
				<ion-item ng-model="envio" class="item-stable" ng-click="toggleGroup('envio')" ng-class="{active: isGroupShown('envio')}">
				Envío
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('envio')">
					<p class="center question">¡Sí, te lo enviamos a tu casa!</p>
					<ul class="list">
						<li>El costo del envío es calculado según el peso y destino de tu pedido</li>
						<li>Todas nuestras ordenes requieren de la firma al ser entregadas.</li>
						<li>Los pedidos toman entre 5-7 días hábiles en ser entregados</li>
						<li>En la dirección de entrega debe haber alguien quien firme recibido el paquete de lunes a viernes de 9 a.m. a 5 p.m.</li>
						<li>No podemos cambiar direcciones o combinar productos una vez que la orden haya sido establecida.</li>
						<li>Recibirás un e-mail automatizado cuando tu orden salga para entrega.</li>
						<li>No hay servicio de entrega en áreas peligrosas del país.</li>
					</ul>

					<p class="center question">Sucursal Desamparados</p>
					<p>
						Centro Comercial Desamparados, frente al Colegio Monseñor Rubén Odio. Local Nº 14<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados de 8am a 1pm.<br>
						Teléfono: (506) 2247-5660<br>
						Fax: (506) 2250-4307<br>
					</p>
					<p class="center question">Sucursal Guadalupe</p>
					<p>
						Centro Comercial Novacentro Locales 34 y 35. Guadalupe, del cruce a Moravia, 100 norte<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados de 8am a 1pm.<br>
						Teléfono: (506) 2247-5960<br>
						Fax: (506) 2224-8772<br>
					</p>
					<p class="center question">Sucursal Llorente</p>
					<p>
						400 m este del Cruce Llorente Tibás<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados de 8am a 12md.<br>
						Teléfono: (506) 2247-5760<br>
						Fax: (506) 2247-4442<br>
					</p>
					
					<p class="center question">Sucursal San José</p>
					<p>
						Av. 1a., calles 3 y 5, contiguo al Cine Omni.<br>
						Horario: <br>
						De Lunes a Viernes de 8am a 6pm y Sábados
						de 8am a 1pm.<br>
						Teléfono: (506) 2247-4541<br>
						Fax: (506) 2222-9226
					</p>
					<p class="center question">Sucursal Rohrmoser</p>
					<p>
						Plaza Rohrmoser, segundo piso local #50 De
						la Embajada Americana, 200 al este. <br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados
						de 8am a 1pm.
					</p>
					<p class="center question">Sucursal Alajuela</p>
					<p>
						Alajuela, de la bomba la Tropicana 100 mts al este en centro comercial Plaza Real Alajuela locales # 30-31-32<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 6pm y Sábados de 8am a 1pm.<br>
						Teléfono: (506) 2247-5990<br>
						Fax: (506) 2442-3303<br>
					</p>
					<p class="center question">Sucursal Cartago</p>
					<p>
						Barrio El Molino, de las oficinas administrativas de la CCSS, 50 metros norte, edificio El Nogal.<br>
						Horario:<br>
						De Lunes a Viernes de 8am a 1:30pm y de 2pm a 5pm y Sábados de 8am a 12pm.<br>
						Teléfono: (506) 2247-5970<br>
						Fax: (506) 2591-1991<br>
					</p>
				</div>
				<ion-item ng-model="share" class="item-stable" ng-click="toggleGroup('share')" ng-class="{active: isGroupShown('share')}">
				Compartí
				</ion-item>
				<div class="item-accordion item social-btns" ng-show="isGroupShown('share')">
					<a ng-click="shareFb()" class="share fb"></a>
					<a ng-click="shareTwitter()" class="share twitter"></a>
					<a ng-click="shareEmail()" class="share email"></a>
				</div>
				<ion-item ng-model="contacto" class="item-stable" ng-click="toggleGroup('contacto')" ng-class="{active: isGroupShown('contacto')}">
					Contáctenos
				</ion-item>
				<div class="item-accordion item" ng-show="isGroupShown('contacto')">
					<label class="item item-input">
						<input class="name" type="text" placeholder="Nombre">
					</label>
					<label class="item item-input">
						<input class="lastname" type="text" placeholder="Apellido">
					</label>
					<label class="item item-input">
						<input class="email" type="email" placeholder="Correo electrónico">
					</label>
					<label class="item item-input">
					    <textarea placeholder="Consulta..." rows="8" cols="10"></textarea>
					</label>
					<button class="button button-block">Enviar</button>
				</div>
			</ion-list>
		</div>
  	</ion-content>
</ion-view>
