<ion-view class="index-page" >
    <ion-nav-bar class="landing">
      <img class="img-logo" src="img/logo-printea-small.png" alt="Logo" />
    </ion-nav-bar>
  	<ion-content scroll="false">
  		<slick slides-to-show="1" slides-to-scroll="1" infinite="true" dots="false" autoplay="true" arrows="false">
    		<div>
    			<img class="img-slick" src="img/home/home_1.png" alt="Alternate Text" />
    		</div>
    		<div>
    			<img class="img-slick" src="img/home/home_2.png" alt="Alternate Text" />
    		</div>
        <div>
          <img class="img-slick" src="img/home/home_3.png" alt="Alternate Text" />
        </div>
        <div>
          <img class="img-slick" src="img/home/home_4.png" alt="Alternate Text" />
        </div>
        <div>
          <img class="img-slick" src="img/home/home_5.png" alt="Alternate Text" />
        </div>
        <div>
          <img class="img-slick" src="img/home/home_6.png" alt="Alternate Text" />
        </div>
    	</slick>
  	</ion-content>
    <ion-footer-bar>
      <div class="options-index">
        <a class="button button-positive" href="#/app/products">Imprimir</a>
        <div class="info-buttons">
          <a class="button info" href="#/app/info">Info</a>
          <a class="button button-balanced orange" href="#/app/cart">Carrito ({{cart.orders.length}})</a>
        </div>
      </div>
    </ion-footer-bar>
</ion-view>
