<ion-view class="index-page" >
    <ion-nav-bar class="landing">
      <img class="img-logo" src="img/logo-hacelo-small.png" alt="Logo" />
    </ion-nav-bar>
  	<ion-content class="has-header">
  		<slick slides-to-show="1" slides-to-scroll="1" infinite="true" dots="true" arrows="false">
    		<div>
    			<img class="img-slick" src="img/bg-landing.jpg" alt="Alternate Text" />
    		</div>
    		<div>
    			<img class="img-slick" src="img/bg-landing.jpg" alt="Alternate Text" />
    		</div>
    	</slick>
  	</ion-content>
    <ion-footer-bar>
      <div class="options-index">
        <a class="button button-positive" href="#/app/products">Imprimir</a>
        <div class="info-buttons">
          <a class="button info" href="#/app/info">Info</a>
          <a class="button button-balanced" href="#/app/cart">Carrito[{{cart.orders.length}}]</a>
        </div>
      </div>
    </ion-footer-bar>
</ion-view>
