<ion-view title="" class="order-sent-page cart-page" >
	<ion-nav-bar class="red bar-stable" animation="slide-left-right">
  
    </ion-nav-bar>

  	<ion-content class="has-header" scroll="false">
    	<div class="order-sent-container">
    		<h2>FELICIDADES!</h2>
        <div class="image">
          <img src="img/congrats.png">
        </div>
			<p class="message">TU COMPRA HA SIDO UN EXITO!</p>
			<a class="button button-balanced" href="#/app/landing">SEGUIR COMPRANDO</a>
		</div>
  	</ion-content>
</ion-view>