<ion-view title="EXITO INFINITO" class="order-sent-page cart-page" >
	<ion-nav-bar class="red bar-stable" animation="slide-left-right">
    <ion-nav-back-button class="button-clear">
        <div class="arrow"> Atrás </div> 
      </ion-nav-back-button>
    </ion-nav-bar>

  	<ion-content class="has-header">
    	<div class="order-sent-container">
    		<h2>Felicidades</h2>
			<h2>¡Hemos Recibido tu orden!</h2>
			<p class="message">Tu compra ha sido un exito!</p>
			<div class="image"></div>
			<a class="button button-balanced" href="#/app/landing">Seguir Comprando</a>
		</div>
  	</ion-content>
</ion-view>