<ion-view title="PAGO" class="payment-page" >
	
  	<ion-content class="has-header">
    	<div class="payment-container">
			<label class="item item-input">
				<input name="name" type="text" placeholder="NOMBRE">
			</label>
			<label class="item item-input">
				<input name="card-name" type="text" placeholder="# DE TARJETA">
			</label>
			<label class="item item-input card">
				<select>
			      <option selected>Tipo de tarjeta</option>
			      <option>tipo</option>
			    </select>
			</label>
		    <label class="item item-input date">
		    	<span class="input-label">FECHA DE VENCIMIENTO</span>
				<input name="date" type="date">
			</label>
			<label class="item item-input">
				<input name="cuotas" type="number" placeholder="CUOTAS">
			</label>
		</div>
  	</ion-content>
</ion-view>