<ion-view title="Fotos" class="photo-page">
    <ion-nav-bar class="grey bar-stable" animation="slide-left-right">  
      <ion-nav-back-button class="button-clear">
        <div class="arrow"> Atrás </div> 
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="photo-container">
            <!--div class="photo-cover" style="background:url({{product.images}}) no-repeat top left/100% 100%; height:{{height}}px"> </div>
            <div class="cover"><span>{{product.name}}</span></div-->
            <!--slick slides-to-show="1" slides-to-scroll="1" infinite="true" dots="true" arrows="false">
                <div>
                    <img class="photo-cover" src="../www/img/bg-fotos.jpg" alt="">
                    <div class="cover"><span>{{product.name}}</span></div>
                </div>
                <div>
                    <img class="photo-cover" src="../www/img/bg-fotos.jpg" alt="">
                    <div class="cover"><span>{{product.name}}</span></div>
                </div>
            </slick-->

            <slick slides-to-show="1" slides-to-scroll="1" infinite="true" dots="true" arrows="false">
               <div ng-repeat="s in product.slider">
                    <img class="photo-cover"  style="height:{{height}}px" ng-src="{{s.images}}" alt="">
                </div>
           </slick>
            <div class="cover"><span>{{product.name}}</span></div>

            <div class="menu-content">
                <p><span>{{product.prices.first_items.price | noFractionCurrency}}</span>
                    <ng-pluralize count="product.prices.first_items.quantity"
                                  when="{'one': '1 impresión.',
                                        'other': 'Primeras {} impresiones'}">
                    </ng-pluralize>
                </p>
                <!--<p><span>{{product.prices.additional.price | noFractionCurrency}}</span> Cada impresión adicional</p>-->
            </div>
            <a href="#/app/choose" class="button button-arrow">Seleccionar</a>
        </div>
    </ion-content>
</ion-view>
