<ion-view title="FOTOS" class="photo-page">
    <ion-nav-bar class="grey bar-stable" animation="slide-left-right">  
      <ion-nav-back-button class="button-clear">
        <div class="arrow"> ATRAS </div> 
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="photo-container">
            <div class="photo-cover" style="background:url({{product.images}}) no-repeat top left/100% 100%;"> </div>
            <div class="cover"><span>{{product.name}}</span></div>
            <!--slick slides-to-show="1" slides-to-scroll="1" infinite="true" dots="true" arrows="false">
                <div>
                    <img class="photo-cover" src="../www/img/bg-fotos.jpg" alt="">
                    <div class="cover"><span>{{product.name}}</span></div>
                </div>
                <div>
                    <img class="photo-cover" src="../www/img/bg-fotos.jpg" alt="">
                    <div class="cover"><span>{{product.name}}</span></div>
                </div>
            </slick-->
            <div class="menu-content">
                <p><span>{{product.prices.first_items.price | currency:"&#8353;"}}</span>
                    <ng-pluralize count="product.prices.first_items.quantity"
                                  when="{'one': '1 impresión.',
                                        'other': 'Primeras {} impresiones'}">
                    </ng-pluralize>
                </p>
                <p><span>{{product.prices.additional.price | currency:"&#8353;"}}</span> Cada impresión adicional</p>
            </div>
            <a href="#/app/choose" class="button button-arrow">SELECCIONAR</a>
        </div>
    </ion-content>
</ion-view>
