<ion-view title="REVISAR" class="check-page check-photobook">
    <ion-nav-bar class="grey bar-stable" animation="slide-left-right">
        <ion-nav-back-button class="button-clear">
            <div class="arrow"> ATRAS</div>
        </ion-nav-back-button>
        <h1 class="title">REVISAR</h1>
        <ion-nav-buttons side="right">
            <a class="button button-icon accept-button positive check-photo" ng-click="addToCart()" >ACEPTAR</a>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content class="has-header">
        <div class="check-container">
            <h1>MOSAICO</h1>
            <p>9 DE TUS FOTOS EN UN MOSAICO</p>

            <button ng-click="mix()">BARAJAR</button>
            <button ng-click="mix()">TITULO</button>
        </div>

        <div class="wood-container">

            <div ng-repeat="image in range() track by $index">
                    <img src="{{image.images.standard_resolution.url}}">
            </div>
        </div>        
    </ion-content>
</ion-view>