<ion-view title="Procesando Orden" class="processing-order-page" >
  	<ion-nav-bar class="red bar-stable" animation="slide-left-right">  
      <ion-nav-back-button class="button-clear">
        <div class="arrow"> Atrás </div>
      </ion-nav-back-button>
    </ion-nav-bar>
  	<ion-content class="has-header">
    	<div class="processing-order-container">
			<div class="loading"></div>
			<div class="loading-counter">
				<p class="photos-counter">
					<span id="photos-loaded">{{initial}}</span> /
					<span id="total-photos">{{all}}</span>
				</p>
				<p class="uploaded-copy">Fotos Subidas</p>
			</div>
			<p class="disclaimer">
				Esperá mientras subimos tus fotos y procesamos tu pago
			</p>
			<canvas id="canvas"></canvas>
		</div>
  	</ion-content>
</ion-view>