<ion-view title="PROCESANDO ORDEN" class="processing-order-page" >
  	<ion-content class="has-header">
    	<div class="processing-order-container">
			<div class="loading"></div>
			<div class="loading-counter">
				<p class="photos-counter">
					<span id="photos-loaded">37 </span> /
					<span id="total-photos">54</span>
				</p>
				<p class="uploaded-copy">Fotos Subidas</p>
			</div>
			<p class="disclaimer">
				Por favor espere mientras subimos sus fotos y luego procesamos su pago, gracias.
			</p>
				<form action="{{api}}" method="post" >
					<input type="text" name="data" value="mobileTest"/>
					<input type="submit" value="Submit">
					<div ng-repeat="photo in market.market">
						<div ng-repeat="single in photo.items">
							<div ng-repeat="number in range(single.quantity)">
								<input value="{{single.images.standard_resolution.url}}" type="text" name="images[]"/>
								<input value="{{photo.category}}_{{photo.subCategory}}"	/>
							</div>
						</div>
					</div>
				</form>
		</div>
  	</ion-content>
</ion-view>