<ion-view title="MUESTRA TU AMOR" class="show-love-page" >
  	<ion-nav-bar class="green bar-stable" animation="slide-left-right">  
      <ion-nav-back-button class="button-clear">
        <div class="arrow"> ATRAS </div>
      </ion-nav-back-button>
    </ion-nav-bar>
  	<ion-content class="has-header">
    	<div class="show-love-container">
			<p>Realmente agradecemos tu orden, y sabemos que te encantará.</p>
			<p>Somos una pequeña empresa sin compromisos con inversionistas o bancos. Respondemos directamente a todos nuestros clientes y vivimos o morimos por nuestras decisiones. Si te gusta nuestro App y tus impresiones, por favor compártelo con el mundo.</p>
			<p class="thanks">Gracias por siempre,</p>
			<p>EL EQUIPO DE HACELO DIGITAL</p>
		</div>
		<a class="button button-block button-balanced instagram" href="#">Instagramea este gato</a>
		<div class="buttons socialbtns">
		    <a class="button button-balanced twitter" ng-click="shareTwitter()">Twitter</a>
		    <a class="button button-balanced fb" ng-click="shareFb()">Facebook</a>
		</div>
		<div class="buttons btns">
		    <a class="button button-balanced comment" href="#">Comenta</a>
			<a class="button button-balanced return" href="#">Volver</a>
		</div>
  	</ion-content>
</ion-view>