<ion-view title="Muestra tu amor" class="show-love-page" >
  	<ion-nav-bar class="green bar-stable" animation="slide-left-right">  
      <ion-nav-back-button class="button-clear">
        <div class="arrow"> X </div>
      </ion-nav-back-button>
    </ion-nav-bar>
  	<ion-content class="has-header">
    	<div class="show-love-container">
			<p>Respondemos directamente a todos nuestros clientes para así formar lazos con ellos.</p>
			<p>Si te gusta nuestro app y tus impresiones, por favor compartilo con el mundo.</p>
			<p class="thanks">Gracias totales,</p>
			<p>EL EQUIPO DE PRINTEA</p>
		</div>
		<a class="button button-block button-positive instagram" href="#">Instagram</a>
		<div class="buttons socialbtns">
		    <a class="button button-positive twitter" ng-click="shareTwitter()">Twitter</a>
		    <a class="button button-positive fb" ng-click="shareFb()">Facebook</a>
		</div>
		<div class="buttons btns">
		    <a class="button button-positive comment" href="#">Comentá</a>
			<a class="button button-positive return" href="#">Volver</a>
		</div>
  	</ion-content>
</ion-view>