/* Empty. Add your own CSS if you like */
.index-page .scroll {
	height: 100%;
	width: 100%;
}
.options-index{
	position: absolute;
    height: 35%;
    bottom: 0;
    width: 100%;
}

.options-index a{
	position: relative;
	width: 90%;
	display: inline-block;
	margin: 3% 5%;
	background: #c2c2c2;
	padding: 5% 0;
	float: left;
	text-align: center;
}